html, *{
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #b9b9b9;
  background-color: #222;
  background-size: auto;
  overflow-x: hidden !important;
}

.container {
  width: 50%;
  padding: 30px;
  margin: auto;
  background-color: #000;
  border-radius: 4.2px;
}


p {
  color: #ffc107;
  font-size: 20px;
}

input{
  color: #fff !important;
  margin: 10px;  

}

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before
{
  width: 20%;
  padding: 1em;
  line-height: 1.4;
  background-color: #222;
  border: 1px solid rgb(70, 67, 67);
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
  border-color: #64ac15;
}

input:focus + .input-icon:after {
  border-right-color: #7ed321;
}

input[type="radio"] {
  display: none;
}
input[type="radio"] + label,
select {
  display: inline-flex;
  margin: 10px;
  width: 40%;
}

input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: #7ed321;
  color: #000;
  border-color: #64ac15;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}

#submit{
  width: 90%;
  background-color: #ffc107;
  color: #000 !important;
  font-size: 20px;
  cursor: pointer;
}

@media(max-width: 1024px) {
  .container{
    width: 100%;
    font-size: 20px;
  }
}

@media(max-width: 676px) {
  .container {
    width: 100%;
    font-size: 18px;
    padding: 0px;
    padding-left: 20px;
    padding-top: 20px;
  }

  input[type="radio"] + label{
    display: flex;
    margin: 10px;
    width: 50%;
  }
  #submit{
    width: 50%;
    
    padding: 10px;
  }
}



.result{
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;

}

.result h1{
  color: tomato;
  margin: 30px;
}

.result i{
  font-size: 70px;
  color: tomato;
}

.result button{
  margin-top: 50px;
  padding: 10px;
  background-color: #000;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.msg{
  background-color: rgb(221, 113, 113);
  padding: 20px;
  position: fixed;
  width: 100%;

}

.msg p{
  color: rgb(109, 21, 21);
}

.loader-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: fixed;
  display: flex;

  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#result-negative h1, #result-negative i{
  color: #ffc107;
} 
